header {
    background-color: #0E1025;
    padding: 20px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-title {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 20px;
}