@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --red-color: #F01825;
    --main-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.3);;
    --light-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    --light-grey: #ECEFF3;
    --dark-grey: #B0BCCC;
    --green-color: #42b983;
    --pale-green-color: #96dcb7;
    --popper-theme-background-color: #ECEFF3;
    --popper-theme-padding: 15px;
    --popper-theme-border-radius: 6px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
    --swiper-theme-color: #fff;
    --ease-function: cubic-bezier(0.25, 1, 0.5, 1);
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/*.sections {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    grid-gap: 20px;*/
/*    overflow: auto;*/
/*    height: 700px;*/
/*    padding: 0 20px;*/
/*}*/

/*section {*/
/*    margin-top: 40px;*/
/*}*/

.white-btn {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    transition: .3s;
    margin-bottom: 10px;
    box-shadow: var(--light-shadow);
    border: 2px solid #fff;
    font-size: 14px;
    text-align: center;
}

.white-btn_bold {
    font-weight: bold;
    font-size: 16px;
}

.white-btn:hover {
    color: #ffffff;
    border-color: var(--green-color);
}

.btn-dotted {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    border: 2px dashed #b7b7b7;
    padding: 15px;
    border-radius: 5px;
    margin-top: 30px;
    transition: .6s;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.white-btn:hover {
    background-color: var(--green-color);
}

.btn-dotted:hover, .btn-delete:hover {
    box-shadow: var(--main-shadow);
    background-color: var(--red-color);
    border: 2px solid var(--red-color);
    color: #ffffff;
    cursor: pointer;
    transition: .3s;
}

.btn-dotted:hover {
    background-color: var(--green-color);
    border: 2px solid var(--green-color);
}

.white-block {
    max-height: 750px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: var(--main-shadow);
    border-radius: 10px;
    padding: 40px;
}

.code-space {
    height: 100%;
    overflow: auto;
}

.main-grid {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 40px 0;
    grid-gap: 40px;
}

.grid-2-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.btn-dotted_default {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 20px;
}

.btn-dotted_default_hovered {
    background-color: var(--green-color);
    border: 2px solid var(--green-color);
    color: #ffffff;
}

.grey-hover {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    transition: .3s;
}

.grey-hover:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: .3s;
}

.grey-hover i {
    display: flex;
}

/* select */

/* для элемента input c type="radio" */
.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: var(--pale-green-color);
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
    background-color: var(--pale-green-color);
    border-color: var(--pale-green-color);
    transition: .5s;
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked) + label::before {
    border-color: var(--pale-green-color);
    transition: .5s;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
    border-color: var(--green-color);
    background-color: var(--green-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    transition: .5s;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
    background-color: #e9ecef;
}

.radio {
    margin-bottom: 0.4em;
}

.cube-btn {
    background-color: #000000;
    color: #ffffff;
    border-radius: 7px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-content: center;
    align-items: center;
    transition: .3s;
}

.cube-btn_default {
    background-color: #fff;
    color: #000;
}

.cube-btn_green {
    background-color: var(--green-color);
}

.cube-btn_red {
    background-color: var(--red-color);
}

.cube-btn:hover {
    box-shadow: var(--main-shadow);
    cursor: pointer;
    transition: .3s;
}

.cube-btn_small {
    width: 20px;
    height: 20px;
    font-size: 17px;
}

.sections__title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sections__sub-item {
    display: flex;
    position: relative;
    background-color: #fff;
}

[contentEditable]:focus {
    outline: none;
}

.sections__sub-item__fields {
    width: 100%;
}

[contentEditable]:empty:after {
    content: attr(placeholder);
    color: rgb(159, 159, 159);
    font-weight: normal;
}

[contentEditable=true]:hover {
    cursor: text;
}

.sections__sub-item__control-btns {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 20px;
    left: -45px;
    gap: 10px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    transform: translateX(-10px);
}

.sections__sub-item:hover .sections__sub-item__control-btns {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: .3s;
}

.sections__control-btns {
    visibility: hidden;
    opacity: 0;
}

.sections__title:hover .sections__control-btns {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.content-editable {
    display: flex;
}

.content-editable [contenteditable] {
    flex-grow: 1;
}

.sections {
    padding-left: 60px;
}

.sections__sub-item textarea {
    flex-grow: 1;
    height: 18px;
    max-height: 200px;
    min-height: 18px;
    border: 0;
    font-size: 15px;
    font-style: italic;
    padding: 0;
}

.sections__sub-item textarea::placeholder {
    color: rgb(159, 159, 159);
    font-weight: normal;
    font-size: 14px;
}

.sections__sub-item textarea:focus {
    outline: none;
    border: 1px solid #000;
}

.add-section__dropdown {
    visibility: hidden;
    opacity: 0;
    box-shadow: var(--main-shadow);
    border-radius: 10px;
    transform: translateY(30px);
    background-color: #fff;
    padding: 10px 0;
    transition: .3s;
}

.add-section__dropdown__item {
    padding: 10px 15px;
}

.add-section__dropdown__item:hover {
    cursor: pointer;
    background-color: #eee;
}

.add-section__dropdown.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: .3s;
}

.move-btn:hover {
    cursor: move;
}

.title_h2 {
    background-color: #0E1025;
    color: #ffffff;
    padding: 10px;
    margin: 16px 0;
    font-size: 24px;
    font-weight: bold;
}

.main-tooltip {
    font-size: 15px !important;
    box-shadow: var(--main-shadow);
}

.data-title {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.guide-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
    transform: translateX(100vw);
    transition: transform 1s var(--ease-function);
}

.guide-modal_active {
    transform: translateX(0);
    transition: transform 1s var(--ease-function);
}

.guide-modal__swiper, .guide-modal__swiper img {
    width: 100vw;
    height: 100vh;
}

.modal__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 6;
    background-color: #fff;
    color: #000;
}

.modal__close:hover {
    color: #ffffff;
}

.scale-animation-exit-active {
    animation: scale .6s forwards;
}

.scale-animation-enter-active {
    animation: scale .6s alternate-reverse;
}

@keyframes scale {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.02);
        opacity: 0.5;
    }

    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}

.translate-exit-active {
    animation: translate .6s forwards;
}

.translate-enter-active {
    animation: translate .6s alternate-reverse;
}

@keyframes translate {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-30px);
        opacity: 0;
    }
}